<!DOCTYPE html>
<html>
<head>
  <title>HtmlText</title>
  <%= stylesheet_link_tag    "html_text/application", :media => "all" %>
  <%= javascript_include_tag "html_text/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
